/** @format */

.button-full {
  background-color: rgb(33, 123, 244, 0.8);
  color: #fff;
}

.button-full:hover {
  background-color: rgb(33, 123, 244, 1);
}

.button-full:hover,
.button-outline:hover {
  box-shadow: 0 0px 10px rgba(33, 123, 244, 1);
}

.button-full--footer {
  padding: 1rem 2rem;
  background-color: #fff;
  color: #2b2b39;
  font-weight: 600;
  position: absolute;
  border: 1px solid rgb(255, 255, 255, 0.8);
  right: 0;
  top: -0.5px;
}

.button-full--footer:hover {
  cursor: pointer;
  box-shadow: 0 0px 10px rgb(255, 255, 255, 1);
}

.button-outline {
  background-color: #fff;
  color: #217bf4;
}

/****************************/
/* NAVBAR */
/****************************/

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0.8rem 3.2rem;
  box-shadow: 0 2px 2px -2px #777;
}

.logo {
  margin-right: 2.4rem;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu {
  display: flex;
  gap: 2.4rem;
  list-style: none;
  font-size: 1.6rem;
}

.menu-item:link,
.menu-item:visited {
  text-decoration: none;
  color: #999;
}

.menu-item:hover,
.menu-item:active {
  color: #000;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.arrow {
  padding-top: 0.2rem;
}

.search-container {
  display: flex;
  gap: 0.6rem;
  padding-bottom: 1.6rem;
  border-bottom: solid 1px #888;
  width: 12.8rem;
  margin-right: 1.2rem;
}

.search-container ion-icon {
  font-size: 1.5rem;
}

.search {
  outline: none;
  border: none;
  width: 100%;
}

/****************************/
/* HERO SECTION */
/****************************/

.section-hero {
  padding: 9.6rem 0;
  background: transparent linear-gradient(325deg, #d4e7fe 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
}

.hero-left,
.hero-right {
  align-self: center;
}

.hero-img {
  width: 50rem;
  float: right;
}

.tag {
  background-color: #d4e7fe;
  color: #217bf4;
  padding: 1.2rem 2.4rem;
  margin-bottom: 1.8rem;
  display: inline-block;
  border-radius: 10px;
  font-size: 1.4rem;
}

.hero-title {
  font-size: 6.4rem;
  margin-bottom: 2rem;
  letter-spacing: -1px;
  color: #0a093d;
  line-height: 1.2;
}

.hero-text {
  font-size: 2rem;
  margin-bottom: 3.2rem;
  color: #555;
  opacity: 0.8;
}

.hero-btns-container {
  display: flex;
  gap: 2rem;
}

/****************************/
/* ABOUT SECTION */
/****************************/

.about-left,
.about-right {
  align-self: center;
}

.about-left {
  max-width: 50rem;
}

.about-list {
  margin-top: 6.4rem;
  margin-left: 1.6rem;
  font-size: 2rem;
  color: #217bf4;
}

.about-list li {
  margin-bottom: 1.4rem;
}

.about-list li:last-child {
  margin-bottom: 0;
}

.about-list span {
  color: #000;
}

.about--img-container {
  display: flex;
}

.about-img {
  width: 80%;
}

.about--img-left,
.about--img-right {
  align-self: center;
}

.about--img-container-left {
  justify-content: flex-end;
}

.about--img-container-right {
  flex-direction: column;
  gap: 2rem;
}

/****************************/
/* ACHIEVEMENTS SECTION */
/****************************/

.section-achievements {
  padding: 6.4rem 0;
}

.achievements {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 3rem;
}

.card {
  padding: 2rem;
  box-shadow: 1.2rem 1.2rem 3.2rem rgba(0, 0, 0, 0.075);
  border-radius: 10px;
  border: solid 1px #e6e6e6;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-title {
  margin-left: 0.8rem;
  margin-top: 0.8rem;
  font-size: 1.8rem;
  color: #0a093d;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.card-imgs {
  position: relative;
  right: 5rem;
  margin-right: 0;
  display: flex;
}

.card-img {
  margin-right: -10rem;
  width: 12rem;
  height: 12rem;
}

.card-img--second {
  width: 3rem;
  margin-bottom: 0.5rem;
}

.card-info {
  display: flex;
  align-items: center;
}

.card-second-info {
  margin: 4.3rem 0;
}

.info-text {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  color: #555;
  opacity: 0.9;
}

.info-text span {
  color: #217bf4;
  font-weight: 600;
}

.card-text {
  font-size: 1.4rem;
  margin-bottom: 3.2rem;
  color: #555;
  opacity: 0.8;
}

.card-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #217bf4;
  font-weight: 600;
  margin-right: 0.5rem;
}

.card-link span {
  margin-right: 1rem;
}

.card-link-second {
  color: #4a4a56;
}

.achievement-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 6rem;
}

.achievement-btn {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.arrow-white {
  margin-top: 0.3rem;
}

/****************************/
/* COMMUNITY SECTION */
/****************************/

.section-community {
  padding-bottom: 4.8rem;
  background: transparent
    linear-gradient(0deg, #f1f6fd00 0%, #f1f6fd 5%, #f1f6fd 64%, #ffffff 100%)
    0% 0% no-repeat padding-box;
  opacity: 1;
}

.community {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.community-info {
  text-align: center;
}

.features {
  margin-top: 6.4rem;
  gap: 4rem;
}

.feature-card {
  display: flex;
  background-color: #ffffff;
  max-width: 50rem;
  padding: 3.2rem;
  column-gap: 3rem;
  border-radius: 10px;
  height: 18rem;
}

.feature-icon {
  display: flex;
  width: 6rem;
  height: 6rem;
  padding: 1.5rem;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.icon-1 {
  background-color: #287ff5;
}
.icon-2 {
  background-color: #f1464d;
}
.icon-3 {
  background-color: #ffb133;
}

.feature-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #2f2c4a;
  font-weight: 600;
}

.feature-text {
  font-size: 1.6rem;
  color: #656464;
  opacity: 0.8;
}

.feature-left {
  margin-left: auto;
}

/****************************/
/* TEAM SECTION */
/****************************/

.team-info {
  text-align: center;
}

.team-bar {
  margin: 2rem auto;
  display: flex;
  padding: 0.8rem 0.2rem;
  background-color: rgb(33, 123, 244, 0.1);
  max-width: 50rem;
  border-radius: 10px;
  justify-content: space-around;
}

.team-bar div {
  padding: 1.8rem 4.8rem;
}

.team-bar div p {
  color: #2f2c4a;
  font-size: 1.6rem;
  font-weight: 600;
}

.bar-selected {
  background-color: #217bf4;
  border-radius: 10px;
}

.bar-selected p {
  color: #ffffff !important;
}

.employees {
  max-width: 130rem;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 4.8rem 0;
  gap: 12.8rem;
}

.empolyee {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.employee-container {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0;
  border: 4px #ffaf2e;
  border-radius: 1000rem;
  border-style: dashed;
}

.employee-img {
  width: 15rem;
  padding: 1.2rem;
}

.check {
  position: absolute;
  bottom: 0;
  transform: translateY(30%);
}

.employee-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.employee-name {
  color: #2f2c4a;
  font-size: 2rem;
}

.employee-email {
  color: #656464;
  font-size: 1.4rem;
  opacity: 0.8;
}

/****************************/
/* APPLICATION SECTION */
/****************************/

.section-application {
  background-color: #e5f0fd;
}

.application-left {
  margin-top: 8rem;
  margin-left: 6rem;
  margin-bottom: 4rem;
  width: 30rem;
}

.application-right {
  position: relative;
}

.app-btns-container {
  margin-top: -5rem;
}

.ios-btn {
  width: 20rem;
  margin-left: -5rem;
}

.android-btn {
  width: 10rem;
  margin-left: -3rem;
  margin-bottom: 4.8rem;
}

.application-img {
  width: 60rem;
  position: absolute;
  bottom: 0;
  left: 12rem;
}

/****************************/
/* NEWS SECTION */
/****************************/

.news-header {
  text-align: center;
}

.news-cards {
  margin-top: 4.8rem;
  display: flex;
  gap: 6.4rem;
  justify-content: center;
}

.news-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.news-card-img-container {
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 10px;
}

.news-card-img {
  width: 50rem;
  height: 35rem;
  transform: translateX(-15%);
}

.news-card-dash {
  border: 1px solid #ffaf2e;
  width: 3rem;
  background-color: #ffaf2e;
  border-radius: 10px;
  position: absolute;
  left: -4rem;
  top: 1.5rem;
}

.news-text-container {
  width: 24rem;
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.news-text {
  position: relative;
  display: flex;
}

.news-text h2 {
  color: #0a093d;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.news-card-link {
  text-decoration: none;
  font-size: 1.4rem;
  flex-basis: 0;
}

.news-card-link span {
  margin-right: 1rem;
}

.link-blue {
  color: #217bf4;
}

.link-grey {
  color: #4a4a56;
}

/****************************/
/* FOOTER */
/****************************/

.section-footer {
  margin-top: 9.6rem 0;
}

.footer {
  padding: 8rem 12.8rem;
  background-color: #2b2b39;
  letter-spacing: 1px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.links-container {
  display: flex;
  gap: 9.6rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.links-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
  font-size: 1.6rem;
}

.main-link {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
}

.links-list a:link,
.links-list a:visited {
  text-decoration: none;
  color: #e7e7e7;
  opacity: 0.4;
}

.links-list a:active,
.links-list a:hover {
  opacity: 0.8;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35rem;
  line-height: 1.5;
}

.subscribtion {
  position: relative;
}

.subscribe-title {
  font-size: 2.4rem;
  color: #ffffff;
}

.subscribe-text {
  font-size: 1.6rem;
  color: #e7e7e7;
  opacity: 60%;
  line-height: 2;
}

.subscribe-input {
  padding: 1rem 2rem;
  border-radius: 10px;
  outline: none;
  background-color: #2b2b39;
  border: solid 1px #fff;
  width: 100%;
}

.media {
  background-color: #20202d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 12.8rem;
}

.media p {
  color: #fff;
  font-size: 1.4rem;
}

.social-media {
  display: flex;
  gap: 1rem;
}
